html, body {
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

#tuner {
    height: 300px;
}

.tunebar {
    margin-right: 2px;
    height: 300px;
    width: 30px;
    display: inline-block;
    background-color: black;
}

.bad {
    color: red;
}

.good {
    color: lawngreen;
}

body {
  margin: 0 auto;
  height:100%
}

#myCanvas {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 100;
    border-radius: 10px;
}

#dataList {
  position: fixed;
  background-color: white;
  bottom: 10px;
  left: 10px;
  z-index: 100;
  border-radius: 10px;
  width: 200px;
  color: black;
}

.fade.ng-hide {
  opacity: 0;
}

.fade.ng-hide-remove,
.fade.ng-hide-add {
  display: block !important;
}

.fade.ng-hide-remove {
  transition: all linear 600ms;
}

.fade.ng-hide-add {
  transition: all linear 600ms;
}
