#tuner {
    height: 300px;
}

.tunebar {
    margin-right: 2px;
    height: 300px;
    width: 30px;
    display: inline-block;
    background-color: black;
}

.bad {
    color: red;
}

.good {
    color: lawngreen;
}