#tuner {
    height: 300px;
}

.tunebar {
    margin-right: 2px;
    height: 300px;
    width: 30px;
    display: inline-block;
    background-color: black;
}

body {
  margin: 0 auto;
  height:100%
}
